
body {
  background-color: darkgreen;
}

#board {
  width: 500px;
  height: 500px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#walker {
  background-color:lightseagreen;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-color: crimson;
  border-style: ridge;
  border-width: 4px;
  position: absolute;
}

#walker2 {
  background-color: darkgoldenrod;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-color: crimson;
  border-style: none;
  border-width: 4px;
  position: absolute;
}
