
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#gameItem {
  background-color: teal;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}



#leftPaddle {
  /* appearance */
  background-color: cornflowerBlue;
  width: 20px;
  height: 80px;
  border-radius: 5px;

  /* positioning */
  position: absolute;
  top: 200px;
  left: 0px;
}

#rightPaddle {
  /* appearance */
  background-color: coral;
  width: 20px;
  height: 80px;
  border-radius: 5px;

  /* positioning */
  position: absolute;
  top: 200px;
  left: 420px;
}